body {
  margin: 0;
  font-family: 'IBM Plex Sans Arabic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');